/* Base default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-heading: #575757;
  --color-card-text: #18191F;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

/* Typography */

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  color: var(--color-heading);
  text-transform: capitalize;
}

h2 {
  font-size: 3.5rem;
  color: var(--color-heading);
  text-transform: capitalize;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 800;
  margin: 1.6rem 0;
  color: var(--color-card-text);
  text-transform: capitalize;
}

/* Reusable styling classes */
.half-width {
  width: 50%;
}

.orange-gradient-text {
  background-image: linear-gradient(45deg, #fba24f, #f05656);
  -webkit-background-clip: text;
  color: transparent;
}

.btn {
  display: inline-block;
  background-image: linear-gradient(45deg, #fba24f, #ff1e1e);
  padding: 2rem 4rem;
  margin: 1rem 0;
  border-radius: 10rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 0 5rem #e7c2a1;
}

/* Header section styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
}

.header__text-box {
  margin-left: 3rem;
}

.header__heading {
  width: 60rem;
}

.header__paragraph {
  color: #828282;
  width: 50rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 3.5rem 0;
}

/* About me section styling */
.about-me {
  display: flex;
  align-items: center;
  background-image: url(img/aboutMeBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  margin: 4rem 0;
}

.about-me__text-box {
  width: 50rem;
}

.about-me__text-box p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 6rem;
}

.about-me__img {
  display: flex;
  justify-content: center;
}

.about-me__img img{
  width: 33rem;
}

/* Recipies section styling */
.recipies {
  margin: 5rem 0;
}

.recipies__text-box {
  width: 70rem;
  text-align: center;
  margin: 1rem auto;
}

.recipies__text-box p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.recipies__list {
  display: flex;
  justify-content: center;
}

.recipies__card {
  width: fit-content;
  padding: 2.2rem;
  margin: 3rem;
  border-radius: 3rem;
  box-shadow: 2px 2px 50px rgb(226, 221, 221);
}

.recipies__card__img {
  max-width: 32rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

.recipies__card__description {
  max-width: 32rem;
}

.recipies__card__paragraph {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color-card-text);
  line-height: 1.8;
  margin-bottom: 1.6rem;
}


.footer {
  height: 24rem;
  background-color: #0B0D17;
  padding: 2rem;
  margin-top: 5rem;
}

.footer h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 4rem 0;
}

.footer p {
  text-align: center;
  color: white;
  font-size: 2rem;
}