/* ----------------------------------
######## Base styling ########
------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

/* ----------------------------------
######## Reusable styling ########
------------------------------------ */

.btn {
  display: inline-block;
  padding: 1rem 2.4rem;
  background-color: #e02c6d;

  font-size: 1.6rem;
  font-weight: 500;

  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-5px) scale(1.01);
  background-color: #cf2060;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(0);
}

/* ----------------------------------
######## Header styling ########
------------------------------------ */

.header {
  background-color: #2d25a0;
}

/* Navigation bar */
.nav-bar {
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 4.2rem 0;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style-type: none;
  margin-right: 3.6rem;
  padding: 5px;
}



.nav-item a {
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 500;
  
  transition: all .3s;
}

.nav-item a:hover {
  transform: translateY(-5px);
}

.nav-item a:active {
  transform: translateY(0);
}

.nav-bar .btn i {
  margin-right: 8px;
}

/* Header content */
.header__content {
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10rem;
  align-items: center;

  margin: auto;
  padding: 7px 0 8.6rem 0;
}

.header__text-box h1 {
  width: 48.5rem;
  margin-bottom: 2.7rem;

  font-size: 6.4rem;
  line-height: 8rem;
  font-weight: 700;
  color: white;
}

.header__banner {
  width: 100%;
  transition: all 0.3s;
}

.header__banner:hover {
  transform: scale(1.03);
}

/* ---------------------------------------
######## Players section styling ########
---------------------------------------- */

.players {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2.7rem;

  margin: 7rem auto;
}

.player {
  width: 33rem;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}

.player:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3)
}

.player__thumbnail {
  width: 30rem;
  height: 25.6rem;
}

.player__info {
  padding: 16px 0 18px 0;
}

.player__name {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 700;
  color: #18191f;

  margin-bottom: 1rem;
}

.player__description {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #6c6c6c;
}

/* ---------------------------------------
######## Highlights section styling ########
---------------------------------------- */

.highlights {
  width: 116rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6.5rem;
  align-items: center;
  justify-items: center;

  margin: 0 auto;
  padding: 9.5rem 0;
}

.highlights img {
  width: 100%;
  transition: all 0.2s;
}

.highlights img:hover {
  transform: scale(1.03);
}

.highlights__text-box h2 {
  font-size: 4.8rem;
  line-height: 6rem;
  font-weight: 700;
  color: #0a0826;
  width: 46.9rem;

  margin-bottom: 8px;
}
.highlights__text-box p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  color: #6c6c6c;
  width: 40.4rem;

  margin-bottom: 2.4rem;
}

/* ----------------------------------
######## News section styling ########
------------------------------------ */

.news-section h2 {
  font-size: 4.8rem;
  text-align: center;
  padding: 0 2rem 6rem 2rem;
}

.news {
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: space-between;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;

  margin: 0 auto;
  padding: 1rem 3rem;
}

.news__card {
  width: 100%;
  box-shadow: 0px 0px 40px rgba(3, 2, 2, 0.15);
}

.news__card-1 {
  grid-column: 1 / span 3;
}

.news__card-2 {
  grid-column: 4 / span 3;
}

.news__card-3 {
  grid-column: 1 / span 2;
}

.news__card-4 {
  grid-column: 3 / span 2;
}

.news__card-5 {
  grid-column: 5 / span 2;
}

.news__thumbnail {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.news__text-box {
  padding: 1rem 2rem 2rem 2rem;
}

.news__category {
  margin-bottom: 1rem;
}

.news__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

small {
  display: block;
  font-size: 1.3rem;
}

/* ---------------------------------------
######## video section styling ########
---------------------------------------- */

.video-section {
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;

  margin: 13rem auto 10rem auto;
  padding: 0 3rem;
}

.video {
  width: 90%;
  height: 30rem;
  border: 15px solid #2d25a075;
  border-radius: 10px;
}

.video-section iframe {
  width: 100%;
  height: 100%;
  border: 10px solid white;
}

.video__text-box h2{
  font-size: 5rem;
  margin-bottom: 2rem;
}

.video__text-box p{
  font-size: 1.6rem;
}

/* ---------------------------------------
######## Footer styling ########
---------------------------------------- */
.footer {
  width: 48.3rem;
  margin: 6.3rem auto;
  text-align: center;
}

.footer a img {
  width: 100%;
}

.footer__social-icons {
  font-size: 2rem;
  margin: 2rem 0;
}

.footer__social-icons i {

  background-color: rgba(0, 0, 0, 0.1);
  color: #969bab;
  padding: 7px;
  border-radius: 50%;

  transition: transform 0.2s;
}

.footer__social-icons i:hover {
  transform: scale(1.1);
}

.fa-instagram:hover {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.fa-dribbble:hover {
  background-color: #ea4c89;
  color:white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.fa-twitter:hover {
  color: #1DA1F2;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.fa-youtube:hover {
  color:#FF0000;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.footer__social-icons a:not(:last-child) {
  margin-right: 1.2rem;
}

.footer p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: normal;
}



/* ---------------------------------------
######## Media Query ########
---------------------------------------- */

/*----------------------- Smaller laptop screens -----------------------*/

@media only screen and (max-width: 1199px) {

  /* Header section */
  .nav-bar {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .header__content {
    width: 100%;   
    padding: 2.5rem 2rem 4rem;
  }

  .header__text-box h1 {
    font-size: 5rem;
    line-height: 7rem;
    width: 90%;
  }

  /* Players section */
  .players {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .player {
    width: 100%;
  }

  .player__thumbnail {
    width: 100%;
    height: auto;
  }

  /* Highlights section */
  .highlights {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;

    grid-column-gap: 4rem;
    justify-items: center;
  }

  .highlights__text-box h2 {
    font-size: 3.7rem;
    width: 90%;
  }

  .highlights__text-box p {
    width: 80%;
  }

  .footer {
    width: 40rem;
  }
}

/* .header__content, .players, .highlights, .footer {
  display: none;
} */

/*----------------------- Tablet screens -----------------------*/

@media only screen and (max-width: 899px) {

  /* Header section */
  .nav-bar {
    display: none;
  }

  .header__content {
    padding: 3rem 2rem;
    grid-column-gap: 5rem;
  }

  .header__text-box h1 {
    font-size: 3.7rem;
    line-height: 6rem;
    width: 100%;
  }

  /* Players section */
  .players {
    grid-template-columns: repeat(2, 1fr);
  }


  /* Highlights section */
  .highlights {
    padding: 2rem;
    margin-bottom: 4rem;

    /* grid-template-columns: repeat(1, 1fr); */
    grid-column-gap: 2rem;
    justify-items: center;
  }

  .highlights__text-box p {
    width: 100%;
  }

  .video__text-box h2{
    font-size: 4rem;
  }

  .footer {
    width: 35rem;
  }
}

@media only screen and (max-width: 739px) {
  .highlights {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  .news {
    grid-template-columns: repeat(2, 1fr);
  }

  .news__card-1 {
    grid-column: 1 / span 2;
  }

  .news__card-2, .news__card-4 {
    grid-column: 1 / span 1;
  }
  
   .news__card-3, .news__card-5 {
    grid-column: 2 / span 1;
   }

   .video {
     height: 20rem;
   }
   .video-section {
     margin-top: 6rem;
   }

   .video__text-box h2{
    font-size: 3rem;
  }
}

/*----------------------- Mobile screens -----------------------*/

@media only screen and (max-width: 639px) {

  /* Header section */

  .header__content {
    padding: 3rem 2rem;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
  }

  .header__text-box h1 {
    font-size: 5rem;
    line-height: 7rem;
  }


  .highlights__text-box h2 {
    font-size: 2.8rem;
    line-height: 5rem;
    width: 100%;
  }

  .highlights__text-box p {
    width: 90%;
  }

  .video-section {
    grid-template-columns: 1fr;
  }

  .video {
    height: 25rem;
  }

  .footer {
    width: 32rem;
  }
}

@media only screen and (max-width: 500px) {

  .header__text-box h1 {
    font-size: 3.6rem;
    line-height: 5rem;
  }

  .players {
    grid-template-columns: 1fr;
  }

  .highlights__text-box p {
    width: 100%;
  }

  .news-section h2 {
    font-size: 3.3rem;
  }

  .news {
    grid-template-columns: 1fr;
  }

  .news__card-1, .news__card-2, .news__card-3, .news__card-4, .news__card-5{
    grid-column: 1 / span 1;
  }

  .footer {
    width: 26rem;
  }
}

@media only screen and (max-width: 289px) {
  .footer {
    width: 100%;
    padding: 0 2rem;
  }

  .video {
    height: 20rem;
  }
}